# rename to .env
appClientId="" # App ID of the App Registration used to log in, this should be in the same tenant as the Copilot.
tenantId="" # Tenant ID of the App Registration used to log in, this should be in the same tenant as the Copilot.
environmentId="" # Environment ID of the environment with the Copilot Studio App.
cloud="" # PowerPlatformCloud enum key.
customPowerPlatformCloud="" # Power Platform API endpoint to use if Cloud is configured as "Other".
agentIdentifier="" # Schema Name of the Copilot to use.
copilotAgentType="" # AgentType enum key.
DEBUG="copilot-studio-client"
