# rename to .env
environmentId="" # Environment ID of environment with the CopilotStudio App.
botIdentifier="" # Schema Name of the Copilot to use
tenantId="" # Tenant ID of the App Registration used to login,  this should be in the same tenant as the Copilot.
appClientId="" # App ID of the App Registration used to login,  this should be in the same tenant as the Copilot.