# rename to .env
connections__serviceConnection__settings__clientId=
connections__serviceConnection__settings__clientSecret=
connections__serviceConnection__settings__tenantId=

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*

graph_type=connectorUserAuthorization
graph_obo_connectionName=
graph_obo_scopes=

DEBUG=*
