# rename to .env
connections__serviceConnection__settings__clientId=<clientId> # this is the Client ID used for the connection.
connections__serviceConnection__settings__clientSecret=<clientSecret> # this is the Client Secret used for the connection.
connections__serviceConnection__settings__tenantId=<tenantId> # this is the tenant ID for the application.

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*

OTEL_EXPORTER_OTLP_ENDPOINT=<Optional OTel endpoint>
OTEL_METRICS_EXPORT_INTERVAL=<Optional metrics interval>
OTEL_LOGS_EXPORT_INTERVAL=<Optional logs interval>

AGENTS_TELEMETRY_DISABLED_SPAN_CATEGORIES=<Optional. Comma-separated or whitespace-separated list of span categories to disable. Available categories are: Storage, Authorization, Authentication>

DEBUG=agents:*:error,agents:*:info,agents:*:warn
