# rename to .env
connections__serviceConnection__settings__clientId=<clientId> # this is the Client ID used for the connection.
connections__serviceConnection__settings__clientSecret=<clientSecret> # this is the Client Secret used for the connection.
connections__serviceConnection__settings__tenantId=<tenantId> # this is the tenant ID for the application.

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*

APPLICATIONINSIGHTS_CONNECTION_STRING=<Optional connection string>
OTEL_METRICS_EXPORT_INTERVAL=<Optional metrics interval>

DEBUG=agents:*:error,agents:*:info,agents:*:warn
