# rename to .env
connections__serviceConnection__settings__clientId=<clientId> # this is the Client ID used for the connection.
connections__serviceConnection__settings__clientSecret=<clientSecret> # this is the Client Secret used for the connection.
connections__serviceConnection__settings__tenantId=<tenantId> # this is the tenant ID for the application.

APPLICATIONINSIGHTS_CONNECTION_STRING=<Optional connection string>