# rename to .env

connections__serviceConnection__settings__clientId=
connections__serviceConnection__settings__clientSecret=
connections__serviceConnection__settings__tenantId=

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*

agentic_type=agentic
agentic_scopes=https://graph.microsoft.com/.default
