# rename to .env

connections__serviceConnection__settings__clientId=
connections__serviceConnection__settings__clientSecret=
connections__serviceConnection__settings__tenantId=
connections__agenticConnection__settings__clientId=
connections__agenticConnection__settings__clientSecret=
connections__agenticConnection__settings__tenantId=

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*
connectionsMap__1__connection=agenticConnection
connectionsMap__1__serviceUrl=

agentic_type=agentic
agentic_altBluprintConnectionName=agenticConnection
agentic_scopes=https://graph.microsoft.com/.default
