# rename to .env

connections__serviceConnection__settings__clientId=
connections__serviceConnection__settings__clientSecret=
connections__serviceConnection__settings__tenantId=
connections__agenticConn__settings__clientId=
connections__agenticConn__settings__clientSecret=
connections__agenticConn__settings__tenantId=

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*
connectionsMap__1__connection=agentic
connectionsMap__1__serviceUrl=agentic

agentic_connectionName=agentic
agentic_type=agentic
agentic_altBluprintConnectionName=agenticConn
#agentic_scopes=
