# rename to .env

# Authentication settings (MSAL)
appClientId="" # App ID of the App Registration used to log in, this should be in the same tenant as the Copilot.
tenantId="" # Tenant ID of the App Registration used to log in, this should be the same tenant as the Copilot.
authorityEndpoint="" # Login authority to use for the connection. Default value is "https://login.microsoftonline.com".
useS2SConnection=false # Flag to enable token acquisition with an "appClientSecret".
appClientSecret="" # Client secret of the App Registration used for the S2S connection.

# Copilot Studio Agent Configuration
environmentId="" # Environment ID of the Copilot Studio App (required if not using directConnectUrl).
schemaName="" # Schema Name of the Copilot Studio App (required if not using directConnectUrl).
directConnectUrl="" # URL used to connect to the Copilot Studio service (use this OR environmentId + schemaName)
cloud="" # Cloud hosting the Power Platform Services. Default value is "Prod".
customPowerPlatformCloud="" # Power Platform API endpoint to use if Cloud is configured as "Other".
copilotAgentType="" # Type of Copilot Studio Agent (Published or Prebuilt). Default value is "Published".
useExperimentalEndpoint=false # Flag to use the "x-ms-d2e-experimental" header URL on subsequent calls to the Copilot Studio service.

DEBUG=copilot-studio:*
