# Copy to .env.human
PORT=3978

connections__serviceConnection__settings__clientId=<human-agent-client-id>
connections__serviceConnection__settings__clientSecret=<human-agent-client-secret>
connections__serviceConnection__settings__tenantId=<tenant-id>

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*

WiseCat_endpoint=http://localhost:3979/api/messages
WiseCat_clientId=<wise-cat-client-id>
WiseCat_serviceUrl=http://localhost:3978/api/agentresponse
