# Copy to .env.cat
PORT=3979

connections__serviceConnection__settings__clientId=<wise-cat-client-id>
connections__serviceConnection__settings__clientSecret=<wise-cat-client-secret>
connections__serviceConnection__settings__tenantId=<tenant-id>

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*
