tenantId=0000000000000000000
clientId=0000000000000000000
clientSecret=ssshhhhhhhhhhhh

Bot1_endpoint=http://localhost:3978/api/messages
Bot1_clientId=<targetbot_clientid>
Bot1_serviceUrl=http://localhost:39783/api/botresponse