# rename to .env
connections__serviceConnection__settings__clientId=
connections__serviceConnection__settings__clientSecret=
connections__serviceConnection__settings__tenantId=

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*

Agent1_endpoint=http://localhost:39783/api/messages
Agent1_clientId=<targetbot_clientid>
Agent1_serviceUrl=http://localhost:3978/api/agentresponse
