# rename to .env
connections__serviceConnection__settings__clientId=
connections__serviceConnection__settings__clientSecret=
connections__serviceConnection__settings__tenantId=

connectionsMap__0__connection=serviceConnection
connectionsMap__0__serviceUrl=*

BLOB_STORAGE_CONNECTION_STRING=
BLOB_CONTAINER_ID=
COSMOS_ENDPOINT=                        # e.g., https://your-account.documents.azure.com:443/
COSMOS_KEY=                             # Primary or Secondary key from Azure Portal
COSMOS_DATABASE_ID=                     # database name
COSMOS_CONTAINER_ID=                    # container name
agentName=
